services:
  yugabyte:
    image: yugabytedb/yugabyte:latest
    container_name: yugabyte
    command: bin/yugabyted start --daemon=false --initial_scripts_dir=/var/ybinit --tserver_flags=ysql_enable_auth=false
    volumes:
      - ./provisioning/yugabyte:/var/ybinit
    ports:
      - 5433:5433
  grafana:
    build:
      args:
        grafana_version: ${GRAFANA_VERSION:-main}
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
